body {
    background-color: #F6F6F6;
}

.awesome {
    max-width: 800px;
    margin: -48px auto 12px;
}

section.main {
    max-width: 480px;
    margin: -96px auto 0;
}

.link {
    text-align: center;
    margin: 32px 0 8px;
}

img.badge {
    margin-left: 16px;
    height: 48px;
}

.contact {
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
}

.strong {
    font-weight: bold;
}

footer.footer {
    margin-top: 32px;
    background-color: #FFFFFF;
}

.history {
    margin-top: 48px;
}

.history .card-content {
    padding-top: 32px;
}

.history .card-content .media {
    margin-bottom: 48px;
}

div.article {
    margin-top: 32px;
}

div.article .name {
    font-size: 1.0em;
    font-weight: bold;
}

div.article .link {
    font-size: 1.0em;
    font-weight: bold;
}

.description {
    margin-top: 24px;
    font-size: 1.0em;
}

.caption {
    margin-top: 12px;
}

.caption a {
    /* font-weight: bold; */
    text-decoration: underline;
}